/*
primary color: #b757ff
*/

.navbar-nav li.divider{
    margin-top:15px;
    width:1px;
    height:30px;
    background: #ccc;
    margin-left: 2px;
    margin-right: 2px;
}

.tablesorter th.tablesorter-headerAsc { 
    background-image: url(../img/tablesorter/small_desc.gif); 
}

.tablesorter th.tablesorter-headerDesc { 
    background-image: url(../img/tablesorter/small_asc.gif); 
}

/*.tablesorter th.tablesorter-headerUnSorted { 
background-image: url(../img/tablesorter/small.gif);
} */

.tablesorter th.tablesorter-header { 
    cursor: pointer;
    background-repeat: no-repeat; 
    background-position: center left; 
}

/*overwrite NProgress*/
#nprogress .bar {
    background: #b757ff;
}
#nprogress .peg {
    box-shadow: 0 0 10px #b757ff, 0 0 5px #b757ff;
}
#nprogress .spinner-icon {
    border-top-color: #b757ff;
    border-left-color: #b757ff;
}

hr.style-eight {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "♦";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background-color: #b757ff;
}

/* Découper les textes trop long */
.crop{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#countdown{
    text-align:center;   
}
