/*
primary color: #b757ff
*/

.navbar-nav li.divider{
    margin-top:15px;
    width:1px;
    height:30px;
    background: #ccc;
    margin-left: 2px;
    margin-right: 2px;
}

.tablesorter th.tablesorter-headerAsc { 
    background-image: url(../img/tablesorter/small_desc.gif); 
}

.tablesorter th.tablesorter-headerDesc { 
    background-image: url(../img/tablesorter/small_asc.gif); 
}

/*.tablesorter th.tablesorter-headerUnSorted { 
background-image: url(../img/tablesorter/small.gif);
} */

.tablesorter th.tablesorter-header { 
    cursor: pointer;
    background-repeat: no-repeat; 
    background-position: center left; 
}

/*overwrite NProgress*/
#nprogress .bar {
    background: #b757ff;
}
#nprogress .peg {
    box-shadow: 0 0 10px #b757ff, 0 0 5px #b757ff;
}
#nprogress .spinner-icon {
    border-top-color: #b757ff;
    border-left-color: #b757ff;
}

hr.style-eight {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "♦";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background-color: #b757ff;
}

/* Découper les textes trop long */
.crop{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#countdown{
    text-align:center;   
}

.fb-share-button-style{
    border: solid 2px #3B5998;
    color: #3B5998;
    width: 25%;
    margin-left: 37.5%;
    background-color: #FFF;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
}

/*=============================*/

.title-quizz{
    padding-top:7px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #fff;
}

.play-quizz{
    padding-top:7px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px; 
}

.containerIn {
    width: auto !important; /*just to override your inline CSS */
    height: 200px; !important; /*just to override your inline CSS */
    left: 0;
    right: 0;
    word-wrap: break-word
}

.containerIn:hover {
    background:#fff;
    opacity:0.3;   
}

.navbar .navbar-nav > li.divider {
    margin-left: 0px;
    margin-right: 0px;
}

.navbar-default {
    background-color: #fff !important;
    box-shadow:0px -2px 5px #b757ff;
}


/*==  datatable design  ==*/

/*.dataTables_wrapper .dataTables_paginate .paginate_button.current { border-color: #ffffff; }*/
.dataTables_paginate a.current, .dataTables_paginate a.current:hover, .dataTables_paginate a.current:focus,
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #ffffff !important;
}

.dataTables_filter input, .dataTables_length select {
    border: 1px solid #ccd0d4;
    background: #fff;
    font-size: 12px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.dataTables_length select {
    margin-right: 10px;
    height: 34px !important;
    width: auto !important;
}

div.dataTables_length select {
    width: 75px;
    height: 30px;
    margin-right: 5px;
}

